@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

:root {
    --verde-claro: #c4c97e; 
    --vermelho-vinho: #3a0a14; 
    --vermelho: #7F1734;
    --texto-escuro: #0e0e0e;
    --texto-claro: #ffffff;
    --background-img: url('../assets/imgs/img\ 22.jpg');
}

@view-transition {
    navigation: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'LINE Seed JP';
    background-color: var(--vermelho-vinho);
    color: var(--texto-claro);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

.home-header {
    box-shadow: none !important;
}

header, .site-header {
    background-color: var(--texto-escuro);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem 2%; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 999;
}

/* logo */

.logo-cont {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-cont img {
    height: 30px;
}

.logo-cont h1 {
    color: var(--vermelho); 
    font-size: 1.9rem;
    font-family: 'Monsieur La Doulaise';
    transform: translateY(12px);
}

/* menu */
nav, #menu-naveg {
    display: flex;
    gap: 2rem; 
}

nav a {
    text-decoration: none;
    color: var(--texto-claro); 
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--vermelho-vinho); 
}

/* home */
#home-container {
    /* fundo */
    background-image: 
        linear-gradient(to bottom, var(--texto-escuro) 10%, transparent 35%, transparent 80%, var(--texto-escuro) 100%), 
        var(--background-img);
    width: 100vw;
    min-height: 100vh;
    flex: 1;
    background-size: cover;
    background-position: center;
    
    /* conteudo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%; 
}

.home-nome {
    font-family: 'Monsieur La Doulaise';
    font-size: 9rem;
    line-height: 1; 
    display: flex;
    flex-direction: column;
    margin: 30px 0; 
    width: 100%;
}
.nome-vinheria {
    align-self: flex-start; 
}

.nome-agnello {
    align-self: flex-start;
    margin-left: 300px; 
}

.bloco-textos-home {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: max-content;
}

.legenda-topo {
    text-align: center;
    margin: 0 0 10px 0;
}

.legenda-baixo {
    text-align: center;
    margin: 0;
}

.but-home {
    display: inline-block;
    font-family: 'LINE Seed JP';
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    margin-top: 25px; 
}

.but-home:hover {
  background-color: var(--vermelho-vinho);
  box-shadow: 0px 15px 20px rgba(139, 25, 25, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.but-home:active {
  transform: translateY(-1px);
}

.section-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* main - sobre */
main {
    padding: 4rem 10%;
    padding-top: 150px;
    flex: 1;
}

.heading-sobre, h1, h2 {
    color: var(--texto-claro); 
    margin-bottom: 1.5rem;
    text-align: center;
}

.heading-sobre {
    margin-top: 60px;
    color: var(--verde-claro);
}

.paragrafo-sobre {
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    max-width: 650px;
    margin: 20px auto;
}

.img-sobre {
    width: 600px;
    display: block;
    margin: 0 auto; 
    height: 100%;
    margin-bottom: 20px;
}

.link-sobre {
    color: #a7a423;
}

figcaption {
    color: #a3a3a3;
    text-align: center;
}

.figcaption-text-color {
    color: #a7a423;
}

iframe {
    margin: 10px;
}

.video-sobre{
    display: flex;
    margin-left: 250px;
}

/* ABA GALERIA */
.galeria{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10vh;
}

.tipo-vinho{
    position: absolute;
    margin-top: -216rem;
    left: 20%;
}

.pri-title{
    margin-top: 10rem;
}

.vinhos{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    max-width: 1100px;
}

.item1{
    
    border: 1px solid #00000036;
}

.tintoimg{
    width: 260px;
}

.tit-caption{
    padding: 1rem;
}


.caption{
    text-align: center;
    padding: 2em;
    
}

.brancos{
    position: relative;
    width: 100%;
    z-index: 1000; 
    padding: 10px 0;
    background-color: var(--texto-escuro); 
}

/* pagina de contato */

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: var(--vermelho-vinho);
    font-size: 30px;
    flex-direction: column;
    gap: 10px;
}
 

/* formulario de contato */

.formulario {
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

/* Text bar */
.input{
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    font-size: 16px;
}


/* botao */

.botao {
    padding: 10px 20px;
    background-color: var(--vermelho-vinho);
    color: black;
    border: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: rgba(0, 0, 0, 0.589);
}


/* footer */
footer {
    text-align: center;
    background-color: var(--texto-escuro);
    margin: 0px;
    width: 100%;
    padding: 2rem;
    bottom: 0%;
}

/* footer DA HOME */
body:has(#home-container) footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent; 
}